<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itours</title>
    <!-- google font  -->
    <link href="https://fonts.google.com/specimen/Bree+Serif?query=bree+serif|Pacifico&display=swap" rel="stylesheet" />
    <!-- icon  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- M css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!-- coustom css  -->
    <link rel="stylesheet" href="../CSS/style.css" />
</head>

<body>
    <div class="section">
        <nav style="margin: auto; background-color: black;">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav"><a href="../views/login.html"><span>Login</span></a></li>
                    <li><a href="../views/sign.html"><span>Sign Up</span></a></li>
                    <li><a href="../views/about.html"><span>About</span></a></li>
                    <li><a href="../views/contact.html"><span>Contact us</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <section class="fslider">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="../views/images/tour1.jpg"  alt="image one">
                    <div class="caption center-align white-text">
                        <h3>Tour and Travel</h3>
                        <h5 class="light text-lighten-3">We will Provide Best Tour Services</h5>
                        <h5 class="light text-lighten-3">We will Provide Best Tour Services</h5>
                        <h5 class="light text-lighten-3">We will Provide Best Tour Services</h5>
                        <h5 class="light text-lighten-3">We will Provide Best Tour Services</h5>
                    </div>
                </li>
                <li>
                    <img src="../views/images/tour 2.jpg" alt="image one">
                    <div class="caption center-align white-text">
                        <h3>Travel</h3>
                        <h5 class="light text-lighten-3"></h5>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    </section>
    <section class="fabout">
        <div class="section white center">
            <div class="row container">
                <h2 class="header">About Us</h2>
                <p class="grey-text text-darken-3">
                    Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt necessitatibus
                    earum minus. Molestias quod aliquid corporis. Facere saepe tempore non eum corporis, neque ipsa
                    veritatis temporibus quibusdam ratione? Quas, nostrum. Dignissimos ipsam cumque, labore a minus
                    aliquid blanditiis maxime magni?
                </p>
                <a href="../views/about.html" style="background: #516d8e; imp !important"
                    class="btn waves-effect waves-light">Read
                    more</a>
            </div>
        </div>
    </section>
    <section class="fservices">
        <div class="row" style="padding-left: 50px; padding-right: 50px;">
            <div class="col s12 l4 center" style="padding: 50px;">
                <i class="large material-icons icon-coffee">local_dining</i>
                <h5 class="header">we can also provide Food</h5>
            </div>
            <div class="col s12 l4 center" style="padding: 50px;">
                <i class="large material-icons icon-coffee">airplanemode_active</i>
                <h5 class="header">You also Choose Your Vehical</h5>
            </div>
            <div class="col s12 l4 center" style="padding: 50px;">
                <i class="large material-icons icon-coffee">favorite</i>
                <h5 class="header">You can like our Services </h5>
            </div>
        </div>
    </section>
    <section class="freviews">
        <div class="section white center">
            <h3 class="header">What our customers say</h3>
            <div class="carousel myreviews" style="margin-bottom: 30px;">
                <a href="#" class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal" style="background-color: #001836 !important;">
                                <span class="white-text">
                                    One Review
                                </span>
                                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit
                                    voluptas ipsa fugiat odio quo nihil ut blanditiis alias aperiam!</p>
                            </div>
                        </div>
                    </div>

                </a>
                <a href="#" class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal" style="background-color: #001836 !important;">
                                <span class="white-text">
                                    Two Review
                                </span>
                                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit
                                    voluptas ipsa fugiat odio quo nihil ut blanditiis alias aperiam!</p>
                            </div>
                        </div>
                    </div>

                </a>
                <a href="#" class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal" style="background-color: #001836 !important;">
                                <span class="white-text">
                                    Three Review
                                </span>
                                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit
                                    voluptas ipsa fugiat odio quo nihil ut blanditiis alias aperiam!</p>
                            </div>
                        </div>
                    </div>

                </a>
                <a href="#" class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal" style="background-color: #001836 !important;">
                                <span class="white-text">
                                    Four Review
                                </span>
                                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit
                                    voluptas ipsa fugiat odio quo nihil ut blanditiis alias aperiam!</p>
                            </div>
                        </div>
                    </div>

                </a>
                <a href="#" class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal" style="background-color: #001836 !important;">
                                <span class="white-text">
                                    Five Review
                                </span>
                                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit
                                    voluptas ipsa fugiat odio quo nihil ut blanditiis alias aperiam!</p>
                            </div>
                        </div>
                    </div>

                </a>
                <a href="#" class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal" style="background-color: #001836 !important;">
                                <span class="white-text">
                                    Six Review
                                </span>
                                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit
                                    voluptas ipsa fugiat odio quo nihil ut blanditiis alias aperiam!</p>
                            </div>
                        </div>
                    </div>

                </a>
                <a href="#" class="carousel-item">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal" style="background-color: #001836 !important;">
                                <span class="white-text">
                                    Sevan Review
                                </span>
                                <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit
                                    voluptas ipsa fugiat odio quo nihil ut blanditiis alias aperiam!</p>
                            </div>
                        </div>
                    </div>

                </a>

            </div>
        </div>
    </section>
    <section class="footer">
        <footer class="footer-one">
            <div class="container">
            </div>
            <div class="row">
                <div class="col 16 s12 width=50%" style="margin-left: auto; width: 50%;">
                    <h4 class="white-text">Contact Us</h4>
                    <p class="grey-text">
                        ANCD 507, ANAND, GUJRAT
                    </p>
                    <p class="grey-text">
                        +91 9999999999
                    </p>
                </div>
                <div class="col 16 s12 width=50%" style="width: 50%;">
                    <h4 class="white-text">Social Media</h4>
                    <ul>
                        <li><a href="#" class="grey-text">Facebook</a></li>
                        <li><a href="#" class="grey-text">Instagram</a></li>
                        <li><a href="#" class="grey-text">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-two">
                <div class="col s12 l6">
                    <p class="white-text">&copy; Itours</p>
                </div>
                <div class="col s12 l6">
                    <p class="white-text" style="margin-left: 570px;">Designed by Jeel Patel</p>
                </div>
            </div>
        </footer>
    </section>
    <section class="infomodal">
        <div id="modal3" class="modal">
            <div class="modal-content">
                <h4 id="info-modal-heading">Link Disabled</h4>
                <p id="info-modal-content">Sorry all link are disabled for now</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect btn-flat">Close</a>
            </div>
        </div>
    </section>



</body>
<!-- jquary -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<!-- m script  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- cunstom js  -->
<script src="../javascript/index.js"></script>

</html>
</body>
</html>