<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itours</title>
    <!-- google font  -->
    <link href="https://fonts.google.com/specimen/Bree+Serif?query=bree+serif|Pacifico&display=swap" rel="stylesheet" />
    <!-- icon  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- M css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!-- coustom css  -->
    <link rel="stylesheet" href="../CSS/style.css" />
</head>

<body>
    <div class="section">
        <nav style="margin: auto; background-color: black;">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav"><a href="../views/login.html"><span>Login</span></a></li>
                    <li><a href="../views/sign.html"><span>Sign Up</span></a></li>
                    <li><a href="../views/about.html"><span>About</span></a></li>
                    <li><a href="../views/contact.html"><span>Contact us</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <section>
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/New-Delhi.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Delhi<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Place:Delhi</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/Mumbai.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Place:Mumbai</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/Culcatta.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Place:culcatta</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; People:25</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/Chennai..jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Place:Chennai</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/Bangluru.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Place:Bengluru</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/Haridwar.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Place:Haridwar</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/Jammu-Kashmir.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Place:J&K</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/Mussoorie.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Place:Mussoorie</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../views/images/Ahmedabad.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons right">more_vert</i></span>
                            <p style="font-weight: bolder;">Date:12/04/2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Place:Ahmedabad</p>
                            <p style="font-weight: bolder;">Days:2-3 Days &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; People:25</p>
                            <button style="color: rgb(8, 0, 255); font-weight: bolder; padding-left: 50px; padding-right: 50px; border-radius: 10px; background-image: linear-gradient(150deg, rgb(216, 143, 255), rgb(109, 177, 211));">Book now</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
   
    <section class="footer">
        <footer class="footer-one">
            <div class="container">
            </div>
            <div class="row">
                <div class="col 16 s12 width=50%" style="margin-left: auto; width: 50%;">
                    <h4 class="white-text">Contact Us</h4>
                    <p class="grey-text">
                        ANCD 507, ANAND, GUJRAT
                    </p>
                    <p class="grey-text">
                        +91 9999999999
                    </p>
                </div>
                <div class="col 16 s12 width=50%" style="width: 50%;">
                    <h4 class="white-text">Social Media</h4>
                    <ul>
                        <li><a href="#" class="grey-text">Facebook</a></li>
                        <li><a href="#" class="grey-text">Instagram</a></li>
                        <li><a href="#" class="grey-text">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-two">
                <div class="col s12 l6">
                    <p class="white-text">&copy; Itours</p>
                </div>
                <div class="col s12 l6">
                    <p class="white-text" style="margin-left: 570px;">Designed by Jeel Patel</p>
                </div>
            </div>
        </footer>
    </section>
    <section class="infomodal">
        <div id="modal3" class="modal">
            <div class="modal-content">
                <h4 id="info-modal-heading">Link Disabled</h4>
                <p id="info-modal-content">Sorry all link are disabled for now</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect btn-flat">Close</a>
            </div>
        </div>
    </section>



</body>
<!-- jquary -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<!-- m script  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- cunstom js  -->
<script src="../javascript/index.js"></script>

</html>